*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.list {
    padding: 20px;
    margin: 40px;
    border: solid black 5px;
    border-radius: 15px;
    color: white;
    background-color: rgb(84, 83, 83);
}
h1 {
    font-size: 40px;
    font-weight: 800;
    
}
.cinfo{
    text-align: center;
}
li {
    margin: 30px;
    font-size: 28px;
}
a:link {
    color: white ;
}
a:active {
    color: black;
}
a:hover{
    color: rgb(99, 39, 39);
}
a:visited:hover {
    color: rgb(99, 39, 39);
}
a:visited {
    color: rgb(196, 145, 145);
}
p{
    padding: 8px;
    font-size: 20px;
}
.button {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(84, 83, 83);
    box-shadow: 0 -4px black inset;
    
  } 
  button:hover {
       background: rgb(196, 145, 145); }
  button:active {
    background: rgb(196, 145, 145);
    box-shadow: 0 -4px rgb(99, 39, 39) inset;
  }
